/* header start */

.header {
  font-size: 18px;
  font-weight: 400;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  align-items: center;
  gap: 2px;
  padding: 92px 50px 96px;
  justify-content: space-between;
}

.navigation__links-list {
  display: flex;
  gap: 32px;
}

.navigation__links-list-item {
  list-style: circle;
}

.navigation__link {
  text-underline-position: under;
}

.item-no-bullet {
  list-style: none;
}

.navigation__link-active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: inherit;
  height: inherit;
}

.address {
  padding-left: 185px;
  display: flex;
  flex-direction: column;
  line-height: 135%;
  font-style: normal;
  text-underline-position: under;
}

/* header end */

/* Cover start*/

.cover {
  background: url("../images/cover.jpg") center/cover;
  color: #fff;
  position: relative;
}

.cover__title {
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: inherit;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__content {
  position: relative;
  z-index: 1;
  padding: 168px 50px 50px;
}

.aligned-text_left {
  text-align: left;
}

/* При использовании данного решения, у меня не проходится автотест связанный с pixel perfect на github
Визуальное отличие макета от эталона. Изображение можно скачать в артефактах. Первое изображение - эталон, второе - ваша вёрстка, третье - отличие.

.aligned-text_center {
  text-align: center;
}
.aligned-text_center span:first-child {
  letter-spacing: 30px;
}

.aligned-text_center span:nth-child(2) {
  letter-spacing: 60px;
}
*/

.aligned-text_center {
  display: inline-block;
  text-align: center;
  position: relative;
}

.aligned-text_center::before {
  content: "";
  display: inline-block;
  width: 30px;
}

.aligned-text_center::after {
  content: "";
  display: inline-block;
  width: 60px;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  margin-top: 120px;
  display: flex;
  padding-top: 8px;
  justify-content: end;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 130%;
  text-align: end;
  word-spacing: 18px;
  text-transform: uppercase;
  margin-right: 78px;
}

.bet-button {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  background: none;
  border: 1px solid currentColor;
  border-radius: 0;
  padding: 12px 32px;
}

/* Lots start */

.lots {
  padding: 179px 24px 146px 24px;
}

.lots__header {
  padding: 0px 40px 27px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-item {
  flex: 1 0 0%;
  min-height: 563px;
  min-width: 334px;
}

.lots__card-list-item:first-child {
  width: 33.3%;
}

.lots__card-list-item:last-child {
  width: 33.3%;
}

.lots__card {
  position: relative;
  height: inherit;
  color: #fff;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.lots__card-film {
  background: url(../images/card-lot-01.jpg) center / cover;
}

.lots__card-book {
  background: url(../images/card-lot-02.jpg) center / cover;
}

.lots__card-picture {
  background: url(../images/card-lot-03.jpg) center / cover;
}

.lots__card-link {
  height: 100%;
  text-decoration: none;
}

.lots__card-title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.lots__card-text {
  line-height: 120%;
  font-size: 20px;
  font-weight: 400;
}

.lots__more-link {
  text-decoration: none;
  text-transform: lowercase;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid #000;
}

/* Lots end */

/* About start */

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 46px;
}

.about__logo {
  justify-self: center;
  width: 240px;
  height: 240px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  margin-top: 32px;
  margin-left: 46px;
}

.about__logo-img {
  width: 100%;
  padding: 64px 46px;
}

.about__information {
  grid-column-start: 2;
  grid-column-end: 4;
}

.about__title {
  padding-top: 133px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

.about__text {
  line-height: 24px;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 100px;
  width: 693px;
}

/* about end */

/* footer start */

.footer {
  font-size: 18px;
  font-weight: 400;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 180px 50px 88px;
  justify-content: space-between;
}

.footer__address {
  padding-left: 0px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 0;
}

.footer__social-list {
  display: flex;
  margin-left: auto;
  list-style: none;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
/* footer end */
